<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateItem</servlet-name>
        <servlet-class>com.digirupt.services.CreateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateBill</servlet-name>
        <servlet-class>com.digirupt.services.GenerateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllItems</servlet-name>
        <servlet-class>com.digirupt.services.GetAllItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBill</servlet-name>
        <servlet-class>com.digirupt.services.GetBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItem</servlet-name>
        <servlet-class>com.digirupt.services.GetItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateItem</servlet-name>
        <url-pattern>/CreateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateBill</servlet-name>
        <url-pattern>/GenerateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllItems</servlet-name>
        <url-pattern>/GetAllItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBill</servlet-name>
        <url-pattern>/GetBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItem</servlet-name>
        <url-pattern>/GetItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
